<div
  class="w-full h-screen bg-black flex flex-col items-center justify-center min-h-[380px] gap-6"
>
  <img src="/images/404.webp" class="items-center h-60" />
  <div class="bg-primary-green flex items-center justify-center rounded-md">
    <a
      href="/"
      class="bg-primary-green transition-colors duration-300 ease-in-out text-white text-[15px] hover:bg-black/5 px-6 py-2 rounded-md uppercase hover:text-gray-300"
    >
      Click para volver al inicio
    </a>
  </div>
</div>