---
import { MessageCircle } from "@lucide/astro";
import { Youtube } from "lucide-react";
import { FaFacebook, FaInstagram, FaTiktok, FaYoutube } from "react-icons/fa";

---

<footer class="w-full bg-[#0E9B7F] py-4 px-6 flex items-center justify-between">
  <!-- Logo -->
  <div class="flex items-center gap-3">
    <img
      src="/icons/icon_pisonay.svg"
      alt="Pisonay Inmobiliaria"
      class="h-8 md:h-10 w-auto"
      loading="lazy"
    />
    <!-- <span class="hidden md:block text-white uppercase tracking-widest text-sm">
      INMOBILIARIA
    </span> -->
  </div>

  <!-- Redes Sociales -->
  <div class="flex items-center gap-3 md:gap-4">
    <a
      href="https://www.facebook.com/pisonay7?mibextid=LQQJ4d"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-black text-white p-2 rounded-full hover:scale-110 transition-transform duration-300"
      aria-label="Facebook"
    >
    <FaFacebook className="w-6 h-6 text-white" />
    </a>

    <a
      href="https://www.tiktok.com/@pisonay_inmobiliaria?_t=8hMkmU1tPGg&_r=1"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-black text-white p-2 rounded-full hover:scale-110 transition-transform duration-300"
      aria-label="TikTok"
    >
    <FaTiktok className="w-6 h-6 text-white" />
    </a>

    <a
      href="https://www.instagram.com/pisonay_inmobiliaria/"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-black text-white p-2 rounded-full hover:scale-110 transition-transform duration-300"
      aria-label="Instagram"
    >
    <FaInstagram className="w-6 h-6 text-white" />
    </a>

    <a
      href="https://www.youtube.com/@pisonayinmobiliaria"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-black text-white p-2 rounded-full hover:scale-110 transition-transform duration-300"
      aria-label="Youtube"
    >
    <FaYoutube className="w-6 h-6 text-white" /> 
    </a>
  </div>

</footer>
